<div class="backgrounded" >
  <image src="../../content/images/main2.jpg">
    <div class="header-box">
      <div class="title">Priscilla & Daniel</div>
      <div class="content"> September 14th, 2019</div>
    </div>
    <div class="verse-block">
      <span class="verse">This mystery is great... but I speak of Christ and the Church</span>
      <span class="reference"> - Ephesians 5:32</span>
    </div>
</div>
<div class="sidebar">
<div class="splash-box">
  <div class="header-box">
    <div class="title inverted">We're getting married!</div>
    <div class="content inverted">And you're invited!</div>
    <div>
      <image class="fountainpic" id="fountainpic" src="../../content/images/fountain.gif" />
    </div>
    <div>
      <button type="button" class="rsvp"  onclick="window.location.href = '/rsvp';">RSVP Here!</button>
      <button type="button" class="details"  onclick="window.location.href = '#details';">Get Details!</button>
    </div>
  </div>
</div>
<div class="text-box">
  <div class="title">Our Story</div>
    <span class="content">It all started like this:
      <p class="story">Daniel and Priscilla both got jobs in Sacramento, CA. They saw each other in the prayer meetings, Lord’s Table meetings, college meetings, home meetings... you name it! Daniel noticed Priscilla’s exercise of the spirit, but there was no interest whatsoever.</p>
      <p class="story">Then one day, Priscilla was serving on book sales during a regional Christian conference in 2016. For some reason, Daniel approached her when she was working the cash register and said “you know… you look surprisingly respectable.” Priscilla asked “… so are you saying that I don’t look respectable any other day?” Daniel replied “I might be saying that.” Priscilla did not appreciate that response, so she blew him off and did not have a very good impression of him</p>
      <p class="story">Two years later, Priscilla notices Daniel for the first time in a long time on a Sunday morning. He wore a suit that made him look like a man,so she reconsidered him.</p>
      <p class="story">Over time, Daniel learned things about Priscilla in the meetings: her visits to the bay area, her interest and pursuit of the martial arts, and her adventurous side of flying out to New York City, Chicago, Atlanta, etc. One day, he found himself randomly thinking about her so he decided to shoot her a text whenever he remembered she was in the Bay Area hanging out, or when she was testing for a higher rank in the martial arts, or when he knew she was flying out to New York.e asked if her plane landed safely in New York City. At this point, Priscilla noticed that they were talking more often. She wasn’t entirely sure if she should text him back, so she asked her martial arts mom and her close companion from college what was going on.  They both commented that this guy probably likes you and advised that if she reciprocated, she should respond. Priscilla thought nothing would happen, so she texted him back. She turned out to be wrong.</p>
      <p class="story">While walking around the Metropolitan in NYC, she realized that she enjoyed talking to Daniel while admiring various works of art. When she got back to her AirBnb, she told her travel buddy, Hannah, that she was ready to go back to Sacramento. Hannah questioned that because for all of Priscilla’s life, she wanted out of Sacramento, but suddenly she wanted to leave NYC early. Hannah hit the bulls-eye and said, “you want to see Daniel!” That was when Priscilla knew she had feelings for him. While on the plane back to Sacramento, she couldn’t wait to see Daniel again.</p>
      <p class="story">Priscilla remembered Daniel’s birthday and asked him what he was going to do to celebrate. He didn’t have any plans, so Priscilla asked if he would like to go go-karting with her and her colleagues. It was a fun afternoon bumping into cars and Priscilla enjoyed smoking Daniel on the racecourse. (That as when they both knew that Priscilla was the fast one and Daniel was super slow.) After racing, they all got Korean BBQ and stuffed their faces. Priscilla didn’t get dessert, so she asked Daniel if he wanted to grab ice cream. Daniel was full and didn’t have room for ice cream , so he asked for a raincheck.</p>
      <p class="story">Over a week later, Daniel saw Priscilla about to head home and took his chance.  He rolled up next to her in his car and slowly rolled down the window. Trying his best not to mess the whole thing up, he asked if she was free to cash in that rain check sometime soon and get ice cream. Priscilla asked if they could have dinner too. They did and had a wonderful date full of ice cream that melted in the Sacramento heat. And now we’re here.</p>
    </span>
  </div>
  <div class="text-box " id="details">
    <div class="title">The Details</div>
    <span class="content">Join us at Vizcaya in Sacramento!</span>
    <div class="content schedule">
      Schedule
      <ul>
        <li>10AM - Venue Opens For Guest Arrial</li>
        <li>10:30AM - Ceremony</li>
        <li>11AM - Cocktail Hour</li>
        <li>12PM - Lunch and Reception</li>
        <li>3PM - It's Over!</li>
      </ul>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.668252066431!2d-121.48556418465938!3d38.56445657962339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ad0e6827ed9eb%3A0xc13f4271c33deb4c!2sVizcaya!5e0!3m2!1sen!2sus!4v1557638738410!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
     </div>
    <div class="content">
      There are 90 street parking spots available around the venue with no meter or time limit despite what the signs say. Carpooling is encouraged.
    </div>
    <div class="content">
      We are working on getting a room block set up at a nearby hotel which will have reduced rates.
    </div>
  </div>
  <div class="text-box">
    <div class="title">The Rest</div>
    <span class="content">Still working on stuff here... still working on a registry and more stories!</span>
  </div>
  <div class="spacer"/>
</div>
