<div class="backgrounded" >
  <image src="../../content/images/main2.jpg">
    <div class="header-box">
      <div class="title">Priscilla & Daniel</div>
      <div class="content"> September 14th, 2019</div>
    </div>
    <div class="verse-block">
      <span class="verse">This mystery is great... but I speak of Christ and the Church</span>
      <span class="reference"> - Ephesians 5:32</span>
    </div>
</div>
<div class="sidebar">
<div class="splash-box">
  <div class="header-box">
    <div class="title inverted">We're getting married!</div>
    <div class="content inverted">And you're invited!</div>
    <div>
      <image class="fountainpic" id="fountainpic" src="../../content/images/fountain.png" />
      <canvas id="fountain" />
    </div>
  </div>
</div>
<div class="text-box">
  <div class="title">Our Story</div>
    <span class="content">It all started like this:
      <p class="story">Daniel and Priscilla both got jobs in Sacramento, CA. They saw each other in the prayer meetings, Lord’s Table meetings, college meetings, home meetings... you name it! Daniel noticed Priscilla’s exercise of the spirit, but there was no interest whatsoever.</p>
      <p class="story">Then one day, Priscilla was serving on book sales during the NorCal Labor Day Conference in 2016. For some reason, Daniel approached her at the cashier and commented “you know… you look surprisingly respectable.” Priscilla asked “… so are you saying that I don’t look respectable any other day?” Daniel replied “I might be saying that.” That response was not appreciated, so she shoo-ed him away. That interaction did not give Priscilla a very good impression of Daniel.</p>
      <p class="story">Fast forward 2 years, Priscilla notices Daniel for the first time in a long time at a Lord’s Table Meeting. He wore a suit that made him look like a man… so she reconsidered him. She also heard that he got invited to attend the ITERO (International Training for Elders and Responsible Ones), which told Priscilla a lot about him: He’s serious about the Lord and he’s ready to hear the word of righteousness, which is more difficult to swallow than the guileless milk of the word.</p>
      <p class="story">Over time, Daniel learned things about Priscilla in the meetings: visits to the bay area, her interest and pursuit of the martial arts, and her adventurous side of flying out to New York City randomly. One day, he just found himself randomly thinking about her so he decided to shoot her a text whenever he remembered she was in the bay area hanging out, or when she was testing for a higher rank in the martial arts, or when he know she was flying out to New York… he asked her if her plane landed safely in New York City. At this point, Priscilla noticed that he and she were talking via messenger more often. She wasn’t entirely sure if she should text him back, so she asked her martial arts mom (Tai Simo Molina) and her close companion from college/FTTA/beyond (Hannah Moulthrop) what was going on, and they both said that this guy probably likes you… so if you like him back, you should talk to him. Priscilla thought it was harmless conversation so she texted him back.</p>
      <p class="story">While she was walking around the MET (that famous art museum in NYC), she realized that she enjoyed talking to Daniel while admiring various forms of art. When she got back to her AirBnb, she told Hannah that she was ready to go back to Sacramento. Hannah wondered why because for all of Priscilla’s life, she wanted out of Sacramento, but now she wants to go back even though she’s in the most popping, energizing, busy city of all America… known as the Big Apple. Hannah hit the bulls-eye and said “you want to see Daniel!” and that was when Priscilla knew she had feelings for him. When she was on the plane back to Sacramento from NYC, she couldn’t wait to see Daniel again in the meetings of the church in Sacramento.</p>
      <p class="story">Priscilla remembered Daniels birthday and asked him what he was going on to don his birthday. Turns out he didn’t have any plans, so Priscilla made a bold move and asked him if he would like to go go-karting with her and her colleagues. It was a fun afternoon bumping into cars and Priscilla had fun smoking Daniel on the racecourse. (That as when they both knew that Priscilla was the fast one and Daniel was super slow.) After racing, they all hit up Korean BBQ at Oz and stuffed their faces, but Priscilla didn’t get dessert so she asked Daniel if he wanted to grab ice cream. Daniel was full and didn’t have room for ice cream in his stomach, so he asked for a raincheck.</p>
      <p class="story">Carrying-on… Priscilla was in a stage where she knew that she was talking to this brother a lot. More than just any brother, but less than what you would consider for being in a courtship. She didn’t want to end it, but she also didn’t just want to keep going without clarity. So she prayed and asked the Lord what to do. The Lord responded “Fellowship with Eric Tran.” Priscilla wasn’t sure why Eric’s name popped up in her fellowship with the Lord – she didn’t even know if Eric knew who Daniel was. After praying and waiting on the Lord for a week, asking the same question, the Lord didn’t budge with His suggestion: “Fellowship with Eric Tran.”</p>
      <p class="story">So that’s what she did! One Lord’s Day evening, Priscilla called Eric and they had fellowship. Long story sort, Eric and Daniel pray together, they read the Bible together, they prepare messages and opening words together. Eric knows Daniel well and could tell Priscilla that the fact Daniel messaged her was enough to tell Eric that he has interest. So Eric gave Priscilla two options: 1) Call Daniel and drive the conversation with him or 2) Eric can talk to Daniel. Priscilla chose option #2.</p>
      <p class="story">Immediately after Eric got off the phone with Priscilla, he texted Daniel.</p>
      <p class="story">Eric: Hey Daniel, I need to talk to you.</p>
      <p class="story">Daniel: Ok sure, is this about the church project we talked about last time?</p>
      <p class="story">Eric: No. It’s about something else. </p>
      <p class="story">When Daniel saw that smiley face, he knew exactly what this conversation was going to be about. Unfortunately, Eric made Daniel wait an entire 24 hours before he could have this conversation with him, but after they chatted and Eric found out that Daniel indeed had interest in Priscilla, Eric called Priscilla afterwards and let her know that their suspicions are correct.</p>
      <p class="story">The next day was the prayer meeting of the church. Priscilla was pretty nervous walking in there because she’s not used to knowing that a brother in the meeting knows her feelings for him, but alas, at the prayer meeting, we set aside our interests to fight for the Lord’s interests on the earth.</p>
      <p class="story">After the prayer meeting, Daniel tried to talk to Priscilla but couldn’t find her because she was busy fellowshipping with older brothers in the church about practical matters for the college girl’s house. As Priscilla was walking out of the meeting all of the church in Sacramento, Daniel (in his car) pulled up in front of her and rolled down his window. They talked:</p>
      <p class="story">Daniel: Hey, I was looking for you, but thought you left already.</p>
      <p class="story">Priscilla: Oh, well my car is still here.</p>
      <p class="story">Daniel: Oh, I thought that was another person’s car.</p>
      <p class="story">[Awkward pause]</p>
      <p class="story">Daniel: Anyways, there’s been something I’ve been meaning to ask you.</p>
      <p class="story">Priscilla: oh… what is it?</p>
      <p class="story">Daniel: Well, we have this long, outstanding raincheck for ice cream and I was wondering if you’d be interested in getting ice cream sometime.</p>
      <p class="story">Priscilla: That sounds good! Would you like to just get ice cream… or would you like to get dinner together and then get ice cream?</p>
      <p class="story">Daniel: Let’s do dinner and then ice cream. When are you free?</p>
      <p class="story">Priscilla: Does tomorrow work for you?</p>
      <p class="story">Daniel: Yes it does, I’ll text you details later tonight.</p>
      <p class="story">And that’s how the official courtship started.</p>
    </span>
  </div>
  <div class="text-box color2">
    <div class="title">Wedding Deets</div>
    <span class="content">my sunshine my only sunshine you make me happy when skies are gray</span>
  </div>
  <div class="text-box color3">
    <div class="title">You are</div>
    <span class="content">my sunshine my only sunshine you make me happy when skies are gray</span>
  </div>
  <div class="spacer"/>
</div>
<script src="../../content/js/fountain.js"></script>
