<div class="backgrounded">
  <div class="header-box">
    <div class="title">Daniel & Priscilla</div>
    <div class="content"> September 14th, 2019</div>
  </div>
  <div class="text-box">
    <span class="content verse">This mystery is great... but I speak of Christ and the Church</span>
    <span class="content reference"> - Ephesians 5:32</span>
  </div>
  <div class="text-box">
    <div class="title">Our Story</div>
    <span class="content">my sunshine my only sunshine you make me happy when skies are gray</span>
  </div>
  <div class="text-box">
    <div class="title">Wedding Deets</div>
    <span class="content">my sunshine my only sunshine you make me happy when skies are gray</span>
  </div>
  <div class="text-box">
    <div class="title">You are</div>
    <span class="content">my sunshine my only sunshine you make me happy when skies are gray</span>
  </div>
  <div class="spacer"/>
</div>
