<link rel="stylesheet" href="content/css/login.css" type="text/css">
<div class="loginbackground">
  <div class="popup">
    <div class="loginheader">Welcome!</div>
    <div action="/api/login" class="entry" method="post" id="login-form">
      <input type="text" placeholder="Guest" id="guest"/>
      <input type="password" placeholder="PIN" id="pin"/>
      <input type="button" value="Login" onclick="login()" id="login">
      <div id="error"></div>
    </div>
  <div>
</div>
<script type="text/javascript">
// Get the input field
var input = document.getElementById("pin");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    event.preventDefault();
    document.getElementById("login").click();
  }
});


function login(){

  var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
  var theUrl = "/api/login";

  xmlhttp.onreadystatechange = function() {
    // When done
      if (xmlhttp.readyState === 4) {
        var resp = JSON.parse(xmlhttp.response);
        if(resp.success)
        {
          document.location.href="/";
        }
        else {
          var err = document.getElementById('error');
          err.innerHTML = resp.msg;
        }
      }
    }

  xmlhttp.open("POST", theUrl, true);
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlhttp.send(JSON.stringify(
    {
      "guest": document.getElementById('guest').value,
      "pin" : document.getElementById('pin').value
    }));
}
</script>
