<link rel="stylesheet" href="content/css/rsvp.css" type="text/css">
<div class="loginbackground">
  <div class="popup">
    <div class="loginheader">Please RSVP by</div>
    <div class="loginheader">July 1, 2019</div>
    <span>Hi {{guest.displayname}}! You can use the form below to let us know if you can make it!</span>
    <div class="entry" method="post" id="login-form">
      <span>You have {{guest.maxSeats}} seats reserved in your honor.</span>
      <div>
        <label><input value="true" type="radio" name="accepts" {{#if rsvp.accepted}}checked{{/if}} />Accepts with pleasure</label>
        <label><input value="false" type="radio" name="accepts"{{#if rsvp.declined}}checked{{/if}}/>Declines with regret</label>
      </div>
      <label><input type="text" placeholder="Adults" id="numAdults" value="{{rsvp.numAdults}}"/> Adults</label>
      <label><input type="text" placeholder="Children" id="numKids" value="{{rsvp.numChildren}}"/> Children</label>
      <input type="button" value="Send RSVP" onclick="rsvp()">
      <div id="error"></div>
      <div id="successtext"></div>
    </div>
  <div>
</div>
<script type="text/javascript">
function isNumeric(n) {
  return !isNaN(parseInt(n)) && n >= 0;
}

function validate(){
  var accepted = document.querySelector('input[name="accepts"]:checked');
  var adults = document.getElementById('numAdults').value;
  var kids = document.getElementById('numKids').value;
  if (!accepted) return "We need to know if you can make it! Please choose accept or decine."
  if (adults.length && !isNumeric(adults)) return "The number of adults doesn't look like a number"
  if (kids.length && !isNumeric(kids)) return "The number of kids doesn't look like a number"
  if (accepted.value == 'true' && !adults.length && !kids.length) return "You accepted, but no one is coming?"
  return null;
}


function rsvp(){
  var err = document.getElementById('error');
  var suc = document.getElementById('successtext');

  var error = validate();
  if (error)
  {
    suc.innerHTML = "";
    err.innerHTML = error;
    return;
  }

  var xmlhttp = new XMLHttpRequest();
  var theUrl = "/api/rsvp";

  xmlhttp.onreadystatechange = function() {
    // When done
      if (xmlhttp.readyState === 4) {
        var resp = JSON.parse(xmlhttp.response);
        if(resp.success)
        {
          suc.innerHTML = "Thank you! We have your RSVP!";
          err.innerHTML = "";
        }
        else {
          suc.innerHTML = "";
          err.innerHTML = resp.msg;
        }
      }
    }

  xmlhttp.open("POST", theUrl, true);
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlhttp.send(JSON.stringify(
    {
      "accepts": document.querySelector('input[name="accepts"]:checked').value,
      "numAdults": document.getElementById('numAdults').value,
      "numChildren" : document.getElementById('numKids').value
    }));
}
</script>
