// out: ../css/common.css
@background-panel-color:@main-brand-color;
@max-image-width: 1200px;

@import "fonts.less";
@import "palette.less";
@import "radio.less";

html {
  scroll-behavior: smooth;
}
body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

  .floating() {
    background-color: @background-panel-color;
    border-radius: 5px;
    margin-bottom: 400px;
    min-height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

body {
  .backgrounded{
    z-index: -1;
    width: 100%;
    @media(min-width: 1200px)
    {
      position: fixed;
      width: calc(100vh * 3 / 4);
      max-width:50vw;
    }
    img{
      position: absolute;
      height: 100%;
      z-index: -1;
      clip: rect(0px,100vw,100vh,0px);
    }
    height:100vh;
  }

  .header-box{
    text-align: center;
    width:100%;
    font-family: @title-font;
    color: @dark-shade-color;
    text-shadow: 3px 3px #677300;
    .title{
      font-size: 3em;
      .fluid-font-size(10vw; 32px; 90px);
    }
    .content{
      font-size: 2em;
      .fluid-font-size(6vw; 24px; 40px);
    }
    .inverted{
      color: @background-panel-color;
    }

  }

  .sidebar{
    z-index: 10;
    text-align: justify;
    @media(min-width: 1200px)
    {
      float: right;
      margin-left: calc(100vh * 3 / 4);
      min-width: 50vw;
    }
  }

  canvas {
    width: 100%;
  }
  .fountainpic{
    width: 25%;
    min-width: 200px;
  }
  .splash-box{
    height: 100vh;
    width: 100%;
    background-color: @dark-shade-color
  }
  .fountain-holder{
    margin-top: 10vh;
  }

  .verse-block{
    padding-top: 0;
    color: @dark-shade-color;
    text-shadow: 3px 3px #677300;
    position: relative;
    top: 60vh;
    span {
      width: 100%;
      display: block;
    }
  }

  .text-box{
    background-color: @background-panel-color;
    padding: 2vh 0 ;
    padding-top: 0;
    width: 100%;
    //opacity: .75;
    .title{
      font-size: 2em;
      .fluid-font-size(4vw; 24px; 48px);
      text-align: center;
      width: 100%;
    }

    .content{
      font-size: 1em;
      .fluid-font-size(1vw; 16px; 48px);
      width: 100%;
      display: block;
      padding: 10%;
      padding-top: 3%;
    }
  }
  .verse {
    font-family: @verse-font;
    text-align: center;
    .fluid-font-size(1vw; 24px; 32px);
  }
  .reference{
    font-family: @reference-font;
    text-align: center;
    padding-right: 10px;
    .fluid-font-size(1vw; 24px; 32px);
  }

  .spacer{
    height: 10000px;
    background-color: initial;
    display: none;
  }

  .color{

  }

  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .rsvp{
    background-color: @main-brand-color;
  }
  .details{
    background-color: @light-shade-color;
  }
  .color3{
    .color;
    background-color: @dark-shade-color
  }
  .color4{
    .color;
    background-color: @light-accent-color
  }
  .color5{
    .color;
    background-color: @dark-accent-color
  }
}
