// palette from colormind.io
@light-accent-color: #89CFF0; // baby blue
@light-shade-color:  #FAC090; // pastel orange
@dark-accent-color:  #6E674A; // GRAY
@dark-shade-color:   #E6F0CD; // green
@main-brand-color:   #F3746E; // coral
