body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body .backgrounded {
  width: 100%;
  position: absolute;
  z-index: -1;
}
@media (min-width: 500px) {
  body .backgrounded {
    position: fixed;
  }
}
body .header-box {
  min-height: calc(43.75vw);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #C3D69B;
  text-shadow: 3px 3px #677300;
}
body .header-box .title {
  font-size: 3em;
  font-size: 24px;
  font-size: 12vw;
}
@media (max-width: 400px) {
  body .header-box .title {
    font-size: 48px;
  }
}
@media (min-width: 1000px) {
  body .header-box .title {
    font-size: 120px;
  }
}
body .header-box .content {
  font-size: 2em;
  font-size: 24px;
  font-size: 8vw;
}
@media (max-width: 400px) {
  body .header-box .content {
    font-size: 32px;
  }
}
@media (min-width: 750px) {
  body .header-box .content {
    font-size: 60px;
  }
}
body .text-box {
  background-color: #FC8C80;
  padding: 2vh 0 ;
  width: 100%;
}
body .text-box .title {
  font-size: 2em;
  font-size: 24px;
  font-size: 4vw;
  text-align: center;
  width: 100%;
}
@media (max-width: 400px) {
  body .text-box .title {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  body .text-box .title {
    font-size: 32px;
  }
}
body .text-box .content {
  font-size: 1em;
  font-size: 24px;
  font-size: 2vw;
  width: 100%;
  display: block;
}
@media (max-width: 800px) {
  body .text-box .content {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  body .text-box .content {
    font-size: 32px;
  }
}
body .verse {
  font-family: 'Playball', cursive;
  text-align: center;
  color: #FFE7E7;
}
body .reference {
  font-family: 'Lobster Two', italic;
  text-align: right;
  color: #FFE7E7;
  padding-right: 10px;
}
body .spacer {
  height: 10000px;
  background-color: initial;
}
body .color {
  width: 100px;
  height: 100px;
  display: none;
}
body .color1 {
  width: 100px;
  height: 100px;
  display: none;
  background-color: #FC8C80;
}
body .color2 {
  width: 100px;
  height: 100px;
  display: none;
  background-color: #FAC090;
}
body .color3 {
  width: 100px;
  height: 100px;
  display: none;
  background-color: #C3D69B;
}
body .color4 {
  width: 100px;
  height: 100px;
  display: none;
  background-color: #FFE7E7;
}
body .color5 {
  width: 100px;
  height: 100px;
  display: none;
  background-color: #B2A333;
}
