body .loginbackground {
  background-image: url("../../content/images/login_splash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body .loginheader {
  text-align: center;
  font-size: 24px;
  font-size: 4vw;
}
@media (max-width: 400px) {
  body .loginheader {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  body .loginheader {
    font-size: 40px;
  }
}
body .entry {
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 25%;
}
body .entry input {
  padding: 10px;
  border-radius: 5px;
  font-weight: lighter;
  font-style: italic;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}
body .popup {
  background-color: #FC8C80;
  border-radius: 5px;
  margin-bottom: 400px;
  min-height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #C3D69B;
  width: 40%;
  height: 50%;
  float: left;
  position: relative;
  left: 30%;
  top: 25%;
}
